<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>La Liga</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/front.css">
</head>
<body class="muzik">
	<div class="page-wrapper">
		<header>
			<img src="images/la_liga_banner2.jpg" alt="" class="img-responsive">
			<div class="top-space"></div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><span class="label label-success"><i class="fa fa-home"></i></span></a>
						<a class="navbar-brand" href="search.html"><span class="label label-success">Tìm kiếm</span></a>
						<a class="navbar-brand" href="club.html"><span class="label label-success">CLB</span></a>
						<a class="navbar-brand" href="#"><span class="label label-success">Dịch vụ trang</span></a>
						<a class="navbar-brand" href="about.html"><span class="label label-success">Về nhóm 1</span></a>	
					</div>
					<form class="navbar-form navbar-right" role="search">
						    <div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">Tìm!</button>
								</span>
						    </div><!-- /input-group -->
					</form>		
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- /header -->
		<main class="">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Đội Bánh Bao</h3>
				</div>
				<div class="panel-body bkg">
					<div class="row">
						<div class="col-md-9 col-sm-8">
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Danh sách cầu thủ</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player -->
										<div class="col-sm-6 col-md-3 item-player">
										    <div class="thumbnail">
										    	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
										    	<div class="caption">
											        <h4>Dinh Van Trang</h4>
											        <p>Áo số: <span class="label label-danger">10</span></p>
													<p>Vị trí <span class="label label-info">TM</span> </p>
													<p>Quốc tịch <span class="label label-primary">Việt Nam</span> </p>
													<p>Chỉ số <span class="label label-success">99</span></p>
										    	</div>
										    </div>
										</div>
										<!-- /item-player <--></-->
									</div>
									<div class="table-responsive">
									    <table class="table table-stripeed table-bordered">
									      <thead>
									        <tr>
									          <th style="width: 10%">Áo số</th>
									          <th style="width: 15%">Ảnh</th>
									          <th style="width: 20%">Tên</th>
									          <th style="width: 30%">Vị trí</th>
									          <th style="width: 15%">Quốc tịch</th>
									          <th style="width: 10%">Chỉ số</th>
									        </tr>
									      </thead>
									      <tbody>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="69" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-dob="15/02/1993" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-height="163" data-weight="50" data-leg="Thuận cả 3 chân" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									      </tbody>
									    </table>
									  </div>
								</div>
							</div>
						</div>
						<!-- /Player list -->
						<div class="col-md-3 col-sm-4">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Biểu tượng</h3>
								</div>
								<div class="panel-body">
									<img src="images/clubs/Athletic-Bilbao-icon.png" alt="" class="img-responsive">
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Thông tin đội</h3>
								</div>
								<div class="panel-body">
									<div>
										<p><span class="label label-danger">Biệt danh:</span> Đá toàn thua</p>
										<p><span class="label label-success">Thành lập:</span> 2002</p>
										<p><span class="label label-info">HLV:</span> Mr. Trang dv</p>
										<p><span class="label label-primary">SVD:</span> Công viên Quảng Yên</p>
										<p><span class="label label-warning">Sức chứa:</span> 150 000</p>
										<p><span class="label label-default">Địa điểm:</span> Quảng Yên</p>
									</div>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Lịch sử</h3>
								</div>
								<div class="panel-body">
									<p><span class="label label-success">La Liga:</span> 2002, 2008, 2009, 2014</p>
									<p><span class="label label-info">Cúp xóm:</span> 1990, 1998, 2002, 2008, 2009, 2014</p>
								</div>
							</div>
						</div>
						<!-- /club-info /club-history -->
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Chi tiết cầu thủ</h4>
				      </div>
				      <div class="modal-body">
				    	<div class="row">
				    		<div class="col-md-6 col-sm-8 player-info">
								<p class="name"></p>
								<p class="team"></p>
								<p class="no"></p>
								<p class="position"></p>
								<p class="dob"></p>
								<p class="nation"></p>
								<p class="height"></p>
								<p class="weight"></p>
								<p class="leg"></p>
								<p class="index"></p>
				    		</div>
				    		<div class="col-md-6 col-sm-4">
				    			<img class="img-responsive avatar" src="" alt="">
				    			<div class="top-space"></div>
				    			<div class="progress">
									<div class="index progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
				    		</div>
				    	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="panel-footer">
					Dữ liệu coppy từ trang wikibongda.com
				</div>
			</div>
		</main>
		<!-- /main -->
		<footer class="">
			<p class="">
				<span class="label label-success">Bởi Trangdv @ 2014 - Mọi quyền không được bảo lưu</span>
				<a class="btn-social-icon facebook" href="#"><i class="fa fa-facebook"></i></a>
				<a class="btn-social-icon google" href="#"><i class="fa fa-google-plus"></i></a>
				<a class="btn-social-icon twitter" href="#"><i class="fa fa-twitter"></i></a>
			</p>
		</footer>
	</div><!-- /page-wrapper -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
		    $('#myModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var recipient = button.data('name');
				var modal = $(this);
				modal.find('.modal-title').text('Chi tiết cầu thủ ' + recipient);
				modal.find('.player-info .name').html('Tên: <span class="label label-primary name">'+button.data('name')+'</span>');
				modal.find('.player-info .team').html('Câu lạc bộ: <span class="label label-danger team">'+button.data('team')+'</span>');
				modal.find('.player-info .no').html('Áo số <span class="label label-success no">'+button.data('no')+'</span>');
				modal.find('.player-info .position').html('Vị trí <span class="label label-info position">'+button.data('position')+'</span>');
				modal.find('.player-info .dob').html('Ngày sinh <span class="label label-warning dob">'+button.data('dob')+'</span>');
				modal.find('.player-info .nation').html('Quốc tịch <span class="label label-danger nation">'+button.data('nation')+'</span>');
				modal.find('.player-info .height').html('Chiều cao <span class="label label-default height">'+button.data('height')+" cm"+'</span>');
				modal.find('.player-info .weight').html('Cân nặng <span class="label label-primary weight">'+button.data('weight')+" kg"+'</span>');
				modal.find('.player-info .leg').html('Thuận chân <span class="label label-info leg">'+button.data('leg')+'</span>');
				modal.find('.player-info .index').html('Chỉ số <span class="label label-success index">'+button.data('index')+'</span>');
				modal.find('.index.progress-bar').attr({
					'style': 'width: '+button.data('index')+'%',
					'aria-valuenow': button.data('index')
				});
				modal.find('.index.progress-bar').text(button.data('index'));
				modal.find('.avatar').attr('src', 'images/players/'+button.data('avatar'));
			});
		});
	</script>
</body>
</html>