<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>La Liga</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/front.css">
</head>
<body class="muzik">
	<div class="page-wrapper">
		<header>
			<img src="images/la_liga_banner2.jpg" alt="" class="img-responsive">
			<div class="top-space"></div>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="index.html">Nhà</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
				    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				    <li><a href="#">Link</a></li>
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="#">Action</a></li>
				        <li><a href="#">Another action</a></li>
				        <li><a href="#">Something else here</a></li>
				        <li class="divider"></li>
				        <li><a href="#">Separated link</a></li>
				        <li class="divider"></li>
				        <li><a href="#">One more separated link</a></li>
				      </ul>
				    </li>
				  </ul>
				  <form class="navbar-form navbar-right" role="search">
				    <div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Tìm!</button>
						</span>
				    </div><!-- /input-group -->
				  </form>
				</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- /header -->
		<main class="">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Đội Bánh Bao</h3>
				</div>
				<div class="panel-body bkg">
					<div class="row">
						<div class="col-md-9 col-sm-8">
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Danh sách cầu thủ</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
									    <table class="table table-stripeed table-bordered">
									      <thead>
									        <tr>
									          <th style="width: 10%">Áo số</th>
									          <th style="width: 15%">Ảnh</th>
									          <th style="width: 20%">Tên</th>
									          <th style="width: 30%">Vị trí</th>
									          <th style="width: 15%">Quốc tịch</th>
									          <th style="width: 10%">Chỉ số</th>
									        </tr>
									      </thead>
									      <tbody>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									        <tr>
									          <td>1</td>							
									          <td>
									          	 <a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">
									          	 	<img style="" class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
									          	 </a>
									          </td>
									          <td>
									          	<a data-name="Dinh Van Trang" data-avatar="Andoni Iraola.jpg" data-no="10" data-position="Thủ môn" data-team="Bánh Bao" data-nation="Việt Nam" data-index="99" href="#" data-toggle="modal" data-target="#myModal">Trang</a>
									          </td>
									          <td>Thủ môn</td>
									          <td>Việt Nam</td>
									          <td>99</td>
									        </tr>
									      </tbody>
									    </table>
									  </div>
								</div>
							</div>
						</div>
						<!-- /Player list -->
						<div class="col-md-3 col-sm-4">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Biểu tượng</h3>
								</div>
								<div class="panel-body">
									<img src="images/clubs/Athletic-Bilbao-icon.png" alt="" class="img-responsive">
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Thông tin đội</h3>
								</div>
								<div class="panel-body">
									<div>
										<p><span class="label label-danger">Biệt danh:</span> Đá toàn thua</p>
										<p><span class="label label-success">Thành lập:</span> 2002</p>
										<p><span class="label label-info">HLV:</span> Mr. Trang dv</p>
										<p><span class="label label-primary">SVD:</span> Công viên Quảng Yên</p>
										<p><span class="label label-warning">Sức chứa:</span> 150 000</p>
										<p><span class="label label-default">Địa điểm:</span> Quảng Yên</p>
									</div>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Lịch sử</h3>
								</div>
								<div class="panel-body">
									<p><span class="label label-success">La Liga:</span> 2002, 2008, 2009, 2014</p>
									<p><span class="label label-info">Cúp xóm:</span> 1990, 1998, 2002, 2008, 2009, 2014</p>
								</div>
							</div>
						</div>
						<!-- /club-info /club-history -->
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Chi tiết cầu thủ</h4>
				      </div>
				      <div class="modal-body">
				    	<div class="row">
				    		<div class="col-md-6 col-sm-8 player-info">
				    			<p class="name"></p>
				    			<p class="team"></p>
				    			<p><span class="label label-success dob">Ngày sinh:</span> 15/02/1993</p>
				    			<p><span class="label label-info nation">Quốc tịch:</span> Việt Nam</p>
				    			<p><span class="label label-warning position">Vị trí:</span> Thủ môn</p>
				    			<p><span class="label label-danger height">Chiều cao:</span> 163cm</p>
				    			<p><span class="label label-default weight">Cân nặng:</span> 50kg</p>
				    			<p><span class="label label-primary leg">Thuận chân:</span> Cả 3 chân</p>
				    			<p><span class="label label-danger index">Chỉ số:</span> 99</p>
				    		</div>
				    		<div class="col-md-6 col-sm-4">
				    			<img class="img-responsive" src="images/players/Andoni Iraola.jpg" alt="">
				    		</div>
				    	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="panel-footer">
					Dữ liệu coppy từ trang wikibongda.com
				</div>
			</div>
		</main>
		<!-- /main -->
		<footer class="">
			<p class="">
				<span class="label label-success">Bởi Trangdv @ 2014 - Mọi quyền không được bảo lưu</span>
				<a class="btn-social-icon facebook" href="#"><i class="fa fa-facebook"></i></a>
				<a class="btn-social-icon google" href="#"><i class="fa fa-google-plus"></i></a>
				<a class="btn-social-icon twitter" href="#"><i class="fa fa-twitter"></i></a>
			</p>
		</footer>
	</div><!-- /page-wrapper -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
	  $(window).load(function(){
	    $('.flexslider').flexslider({
	      animation: "slide",
	      animationLoop: false,
	      itemWidth: 210,
	      itemMargin: 0,
	      pausePlay: true,
	      directionNav: true,
		  controlNav: false,      
		  pausePlay: false,     
	      start: function(slider){
	        $('body').removeClass('loading');
	      }
	    });
	    $('#myModal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget);
		  var recipient = button.data('name');
		  var modal = $(this);
		  modal.find('.modal-title').text('Chi tiết cầu thủ ' + recipient);
		  modal.find('.player-info p.name').html('<span class="label label-primary name">Tên:</span>' + " " + button.data('name'));
		  modal.find('.player-info p.team').html('<span class="label label-danger team">Đội:</span>' + " " + button.data('team'));
		});
	  });
	</script>
</body>
</html>