<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= @club.name %></h4>
    </div>
    <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-sm-8 player-info">
      <p class="name"></p>
      <p class="team"></p>
      <p class="no"></p>
      <p class="position"></p>
      <p class="dob"></p>
      <p class="nation"></p>
      <p class="height"></p>
      <p class="weight"></p>
      <p class="leg"></p>
      <p class="index"></p>
      </div>
      <div class="col-md-6 col-sm-4">
        <img class="img-responsive avatar" src="" alt="">
        <div class="top-space"></div>
        <div class="progress">
        <div class="index progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
    </div>
  </div>
</div>