		<footer class="">
			<p class="">
				<% if( not(@site_meta.footer_text.empty?) ) %>
					<span class="label label-success"><%= @site_meta.footer_text %></span>
				<% end %>
				<% if( not(@site_meta.facebook.empty?) ) %>
					<a class="btn-social-icon facebook" href="<%= @site_meta.facebook %>"><i class="fa fa-facebook"></i></a>
				<% end %>
				<% if( not(@site_meta.googleplus.empty?) ) %>
					<a class="btn-social-icon google" href="<%= @site_meta.googleplus %>"><i class="fa fa-google-plus"></i></a>
				<% end %>
				<% if( not(@site_meta.twitter.empty?) ) %>
					<a class="btn-social-icon twitter" href="<%= @site_meta.twitter %>"><i class="fa fa-twitter"></i></a>
				<% end %>
			</p>
		</footer>
	</div><!-- /page-wrapper -->
</body>
</html>