		<footer class="">
			<p class="">
				<span class="label label-success">Bởi Trangdv @ 2014 - Mọi quyền không được bảo lưu</span>
				<a class="btn-social-icon facebook" href="#"><i class="fa fa-facebook"></i></a>
				<a class="btn-social-icon google" href="#"><i class="fa fa-google-plus"></i></a>
				<a class="btn-social-icon twitter" href="#"><i class="fa fa-twitter"></i></a>
			</p>
		</footer>
	</div><!-- /page-wrapper -->
</body>
</html>